

*{
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    align-items:bottom center;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}
button:hover {
    background-color: darkblue;
}
.Tbody{
    display: flex;
    align-items: center;
    justify-content: bottom center;
    
    padding: 0 60px;
    min-height: 150vh;
}
.headContainer{
    max-width: 650px;
    width: 100%;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 7px;
    color: grey;
    display: flex;
    align-content:space-between;
    justify-content: center;
}
.Thefooter{
    color: grey;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.container{
    max-width: 300px;
    width: 60%;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(red, green, blue, alpha);

}
.wrapper{
    border-radius: 5px;
    border: 1px solid #ccc;


}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.text-input .to-text{
    border-radius: 10px;
    border-left: 1px solid #ccc;

}
.text-input .to-textarea{
    height: 0px;
    width: 100%;
    border: none;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;

}
.controls.row.icons{
    display: none;
}
.container button{
    padding: 13px;
    font-size: 16px;
}
.controls .row select{
    font-size: 16px;
    

}
.controls .exchange{
    font-size: 14px;
}
