body {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
background-color: #0D5773;
color: white;
}

.main-div{
  width: 30%;
  margin: auto
}

#add-btn {
  padding: 2%;
  font-weight: 100;
  background-color: #C6F9AB  ;
  border: 0;
  border-radius: 5px;
  font-family: sans-serif
}

#del-btn {
  padding: 2%;
  font-weight: 100;
  background-color: #FDABA5  ;
  border: 0;
  border-radius: 5px;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 0;
}

p {
  font-size: larger;
}